<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cditer.free.quartz.logical.mapper.IDataCleanTaskMapper">
    <!-- 数据清理任务Mapper -->
    <sql id="tableName">base_data_clean_task dataCleanTask</sql>
    <sql id="mainTableAlias"> dataCleanTask.</sql>

    <sql id="allColumns">
        dataCleanTask.id,
        dataCleanTask.name,
        dataCleanTask.title,
        dataCleanTask.exec_type,
        dataCleanTask.exec_cycle,
        dataCleanTask.table_name,
        dataCleanTask.filter,
        dataCleanTask.status,
        dataCleanTask.comment,
        dataCleanTask.rmrk1,
        dataCleanTask.rmrk2
    </sql>

    <resultMap type="com.cditer.free.quartz.logical.model.DataCleanTask" id="dataCleanTaskMap">
        <id column="id" property="id"/>    <!-- 主键 -->
        <result column="name" property="name"/>    <!-- 名称 -->
        <result column="title" property="title"/>    <!-- 标题 -->
        <result column="exec_type" property="execType"/>    <!-- 类型 -->
        <result column="exec_cycle" property="execCycle"/>    <!-- 执行周期 -->
        <result column="table_name" property="tableName"/>    <!-- 表名 -->
        <result column="filter" property="filter"/>    <!-- 过滤条件 -->
        <result column="status" property="status"/>    <!-- 状态 -->
        <result column="comment" property="comment"/>    <!-- 备注 -->
        <result column="rmrk1" property="rmrk1"/>    <!-- 备注1 -->
        <result column="rmrk2" property="rmrk2"/>    <!-- 备注2 -->
    </resultMap>

    <!-- where条件语句：当字段为String时，不为空并且不为空串才作为条件；否则不为空就作为条件-->
    <sql id="whereSql">
        <where>
            <if test="search.id != null  and search.id != ''">
                and dataCleanTask.id = #{search.id}
            </if>
            <if test="search.notId != null  and search.notId != ''">
                and dataCleanTask.id != #{search.notId}
            </if>
            <if test="search.name != null  and search.name != ''">
                and dataCleanTask.name = #{search.name}
            </if>
            <if test="search.title != null  and search.title != ''">
                and dataCleanTask.title = #{search.title}
            </if>
            <if test="search.execType != null  and search.execType != ''">
                and dataCleanTask.exec_type = #{search.execType}
            </if>
            <if test="search.execCycle != null  and search.execCycle != ''">
                and dataCleanTask.exec_cycle = #{search.execCycle}
            </if>
            <if test="search.tableName != null  and search.tableName != ''">
                and dataCleanTask.table_name = #{search.tableName}
            </if>
            <if test="search.filter != null  and search.filter != ''">
                and dataCleanTask.filter = #{search.filter}
            </if>
            <if test="search.status != null  and search.status != ''">
                and dataCleanTask.status = #{search.status}
            </if>
            <if test="search.comment != null  and search.comment != ''">
                and dataCleanTask.comment = #{search.comment}
            </if>
            <if test="search.rmrk1 != null  and search.rmrk1 != ''">
                and dataCleanTask.rmrk1 = #{search.rmrk1}
            </if>
            <if test="search.rmrk2 != null  and search.rmrk2 != ''">
                and dataCleanTask.rmrk2 = #{search.rmrk2}
            </if>
        </where>
    </sql>

    <resultMap id="dataCleanTaskViewMap" extends="dataCleanTaskMap" type="com.cditer.free.quartz.logical.viewmodel.DataCleanTaskView">

    </resultMap>

    <select id="queryCountBySearch" resultType="java.lang.Integer">
        select
        count(1)
        from base_data_clean_task dataCleanTask
        <include refid="whereSql" />
    </select>

    <sql id="viewSql">
        select
        <include refid="allColumns" />
        from base_data_clean_task dataCleanTask
    </sql>

    <select id="queryListViewBySearch" resultMap="dataCleanTaskViewMap">
        <include refid="viewSql" />
        <include refid="whereSql" />
        order by dataCleanTask.add_date desc
        limit #{pager.currentSize},#{pager.pageSize}
    </select>

    <select id="queryModelViewBySearch" resultMap="dataCleanTaskViewMap">
        <include refid="viewSql" />
        <include refid="whereSql" />
    </select>

</mapper>