<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tennetcn.free.data.demo.logical.mapper.LoginUserMapper">
	<sql id="tableName">base_authority_user loginUser</sql>
	<sql id="mainTableAlias"> loginUser.</sql>

	<select id="queryCountMP" resultType="int">
		select count(1) from
		<include refid="tableName" />
	</select>
	<select id="queryListMP" resultMap="loginUserMap">
		select *,business.name as buName from
		<include refid="tableName" />
		left join base_authority_business business on
		loginUser.businessId=business.buid
	</select>

	<select id="queryListMPByIds" resultMap="loginUserMap">
		select id,name from
		<include refid="tableName" />
		where id in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	<select id="getLoginUserNamesByIds" resultType="java.lang.String">
		select name from
		<include refid="tableName" />
		where id in
		<foreach item="item" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="testGlobal" resultType="java.lang.Integer">
		select count(1) from base_authority_user where name =#{loginUser.name} or name=#{glbName}
	</select>
</mapper>