<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
  http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.tennetcn.free.activiti.*" />

    <!-- activiti start -->
    <!-- Activiti引擎配置 -->
    <bean id="processEngineConfiguration" class="org.activiti.spring.SpringProcessEngineConfiguration">

        <property name="dataSource" ref="dataSource" />
        <property name="transactionManager" ref="transactionManager" />

        <!-- <property name="jobExecutorActivate" value="false" />-->
        <!-- 没有表就创建表 -->
        <property name="databaseSchemaUpdate" value="true"/>

        <!-- 不设置字体可能出现乱码 -->
        <!--<property name="activityFontName" value="宋体"/>-->
        <!--<property name="labelFontName" value="宋体"/>-->
        <!--<property name="annotationFontName" value="宋体"/>-->
        <property name="activityFontName" value="宋体"/>
        <property name="labelFontName" value="宋体"/>

    </bean>

    <!-- Activiti引擎工厂 -->
    <bean id="processEngineFactory" class="org.activiti.spring.ProcessEngineFactoryBean">
        <property name="processEngineConfiguration" ref="processEngineConfiguration" />
    </bean>

    <!-- Activiti的Service -->
    <bean id="repositoryService" factory-bean="processEngineFactory" factory-method="getRepositoryService"/>
    <bean id="runtimeService" factory-bean="processEngineFactory" factory-method="getRuntimeService"/>
    <bean id="formService" factory-bean="processEngineFactory" factory-method="getFormService"/>
    <bean id="taskService" factory-bean="processEngineFactory" factory-method="getTaskService"/>
    <bean id="historyService" factory-bean="processEngineFactory" factory-method="getHistoryService"/>
    <bean id="identityService" factory-bean="processEngineFactory" factory-method="getIdentityService"/>
    <bean id="managementService" factory-bean="processEngineFactory" factory-method="getManagementService"/>
    <!-- activiti end -->

</beans>